useDynLib(amatrix.arrayfire, .registration = TRUE)
export(amatrix_arrayfire_backend)
export(amatrix_arrayfire_bridge_info)
export(amatrix_arrayfire_capabilities)
export(amatrix_arrayfire_diagnostics)
export(amatrix_arrayfire_enable_probe)
export(amatrix_arrayfire_is_available)
export(amatrix_arrayfire_native_available)
export(amatrix_arrayfire_register)
importFrom(amatrix,amatrix_register_backend)
importFrom(methods,is)
importFrom(stats,rnorm)
