useDynLib(amatrix, .registration = TRUE)

export(adgCMatrix)
export(adgeMatrix)
export(colsums)
export(colmeans)
export(dot)
export(dist_matrix)
export(kernel_matrix)
export(correlation)
export(chol_diag)
export(chol_factor)
export(chol_logdet)
export(chol_solve)
export(crossprod_add_diag)
export(crossprod_weighted)
export(covariance)
export(eigh)
export(ewise)
export(gemm)
export(array_lm)
export(block_lanczos)
export(lm_fit)
export(many_lm)
export(block_svd)
export(irlba)
export(irlba_native)
export(mat_sqrt)
export(mat_pow)
export(mat_log)
export(matmul)
export(pca_coef)
export(quad_form)
export(am_qr)
export(qr_info)
export(ridge_fit)
export(rowsums)
export(rowmeans)
export(rowscale)
export(solve_triangular)
export(sym)
export(trace)
export(trace_estim)
export(colscale)
export(rsvd)
export(svd_factor)
export(svd_project)
export(svd_reconstruct)
export(tcrossprod_weighted)
export(xty_weighted)
export(wls_fit)
export(amatrix_backend_capabilities)
export(amatrix_backend_features)
export(amatrix_backend_matrix)
export(amatrix_backend_names)
export(amatrix_backend_plan)
export(amatrix_backend_precision_modes)
export(amatrix_backend_status)
export(amatrix_default_policy)
export(amatrix_default_precision)
export(amatrix_dispatch_op)
export(amatrix_execution_info)
export(amatrix_materialize_host)
export(amatrix_residency_info)
export(amatrix_register_backend)
export(amatrix_set_default_policy)
export(amatrix_set_default_precision)
export(as_adgCMatrix)
export(as_adgeMatrix)
exportClasses(aMatrix)
exportClasses(adgCMatrix)
exportClasses(adgeMatrix)
exportClasses(aTransposeView)
exportClasses(amChol)
exportClasses(amSVD)
exportMethods(chol)
exportMethods(colSums)
exportMethods(diag)
exportMethods(eigen)
exportMethods(qr)
exportMethods(qr.Q)
exportMethods(qr.R)
exportMethods(qr.coef)
exportMethods(qr.fitted)
exportMethods(qr.qty)
exportMethods(qr.qy)
exportMethods(qr.resid)
exportMethods(qr.solve)
exportMethods(rowSums)
exportMethods(solve)
exportMethods(svd)
exportMethods(t)
importFrom(Matrix,Matrix)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(Matrix,dgeMatrix)
importFrom(methods,as)
importFrom(methods,callNextMethod)
importFrom(methods,new)
importFrom(methods,setAs)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setOldClass)
importFrom(methods,setValidity)
importFrom(methods,show)
S3method(as.matrix,amChol)
S3method(coef,lm_fit)
S3method(coef,am_array_lm_fit)
S3method(coef,am_many_lm_fit)
S3method(coef,ridge_fit)
S3method(coef,wls_fit)
S3method(dim,amDenseQR)
S3method(fitted,lm_fit)
S3method(fitted,am_array_lm_fit)
S3method(fitted,am_many_lm_fit)
S3method(fitted,ridge_fit)
S3method(fitted,wls_fit)
S3method(print,lm_fit)
S3method(print,amDenseQR)
S3method(print,am_array_lm_fit)
S3method(print,am_many_lm_fit)
S3method(print,ridge_fit)
S3method(print,wls_fit)
S3method(residuals,lm_fit)
S3method(residuals,am_array_lm_fit)
S3method(residuals,am_many_lm_fit)
S3method(residuals,ridge_fit)
S3method(residuals,wls_fit)
