export(adgCMatrix)
export(adgeMatrix)
export(am_col_sums)
export(am_dist)
export(am_kernel)
export(am_correlation)
export(am_chol_diag)
export(am_chol_factor)
export(am_chol_logdet)
export(am_chol_solve)
export(am_crossprod)
export(am_crossprod_weighted)
export(am_covariance)
export(am_eigh)
export(am_ewise)
export(am_gemm)
export(am_array_lm)
export(am_block_lanczos)
export(am_lm_fit)
export(am_many_lm)
export(am_block_svd)
export(am_irlba)
export(am_irlba_native)
export(am_matmul)
export(am_pca_coef)
export(am_quad_form)
export(am_qr)
export(am_qr_info)
export(am_ridge_fit)
export(am_row_sums)
export(am_rowscale)
export(am_colscale)
export(am_rsvd)
export(am_solve)
export(am_svd_factor)
export(am_svd_project)
export(am_svd_reconstruct)
export(am_tcrossprod)
export(am_tcrossprod_weighted)
export(am_xty_weighted)
export(am_wls_fit)
export(amatrix_backend_capabilities)
export(amatrix_backend_features)
export(amatrix_backend_matrix)
export(amatrix_backend_names)
export(amatrix_backend_plan)
export(amatrix_backend_precision_modes)
export(amatrix_backend_status)
export(amatrix_default_policy)
export(amatrix_default_precision)
export(amatrix_dispatch_op)
export(amatrix_execution_info)
export(amatrix_materialize_host)
export(amatrix_residency_info)
export(amatrix_register_backend)
export(amatrix_set_default_policy)
export(amatrix_set_default_precision)
export(as_adgCMatrix)
export(as_adgeMatrix)
exportClasses(aMatrix)
exportClasses(adgCMatrix)
exportClasses(adgeMatrix)
exportClasses(aTransposeView)
exportClasses(amChol)
exportClasses(amSVD)
exportMethods(chol)
exportMethods(colSums)
exportMethods(diag)
exportMethods(eigen)
exportMethods(qr)
exportMethods(qr.Q)
exportMethods(qr.R)
exportMethods(qr.coef)
exportMethods(qr.fitted)
exportMethods(qr.qty)
exportMethods(qr.qy)
exportMethods(qr.resid)
exportMethods(qr.solve)
exportMethods(rowSums)
exportMethods(solve)
exportMethods(svd)
exportMethods(t)
importFrom(Matrix,Matrix)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(Matrix,dgeMatrix)
importFrom(methods,as)
importFrom(methods,callNextMethod)
importFrom(methods,new)
importFrom(methods,setAs)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setOldClass)
importFrom(methods,setValidity)
importFrom(methods,show)
S3method(as.matrix,amChol)
S3method(coef,am_lm_fit)
S3method(coef,am_array_lm_fit)
S3method(coef,am_many_lm_fit)
S3method(coef,am_ridge_fit)
S3method(coef,am_wls_fit)
S3method(dim,amDenseQR)
S3method(fitted,am_lm_fit)
S3method(fitted,am_array_lm_fit)
S3method(fitted,am_many_lm_fit)
S3method(fitted,am_ridge_fit)
S3method(fitted,am_wls_fit)
S3method(print,am_lm_fit)
S3method(print,amDenseQR)
S3method(print,am_array_lm_fit)
S3method(print,am_many_lm_fit)
S3method(print,am_ridge_fit)
S3method(print,am_wls_fit)
S3method(residuals,am_lm_fit)
S3method(residuals,am_array_lm_fit)
S3method(residuals,am_many_lm_fit)
S3method(residuals,am_ridge_fit)
S3method(residuals,am_wls_fit)
