useDynLib(amatrix.metal, .registration = TRUE)
export(amatrix_metal_backend)
export(amatrix_metal_bridge_info)
export(amatrix_metal_capabilities)
export(amatrix_metal_enable_probe)
export(amatrix_metal_is_available)
export(amatrix_metal_native_available)
export(amatrix_metal_profile)
export(amatrix_metal_profile_enable)
export(amatrix_metal_profile_reset)
export(amatrix_metal_register)
importFrom(amatrix,amatrix_register_backend)
importFrom(methods,as)
