useDynLib(amatrix.mlx, .registration = TRUE)
export(amatrix_mlx_backend)
export(amatrix_mlx_bridge_info)
export(amatrix_mlx_capabilities)
export(amatrix_mlx_is_available)
export(amatrix_mlx_native_available)
export(amatrix_mlx_register)
importFrom(amatrix,amatrix_register_backend)
importFrom(methods,is)
