export(array_lm)
export(correlation)
export(covariance)
export(lm_fit)
export(many_lm)
export(ridge_fit)
export(wls_fit)
importFrom(amatrix,am_correlation)
importFrom(amatrix,am_covariance)
importFrom(amatrix,am_array_lm)
importFrom(amatrix,am_lm_fit)
importFrom(amatrix,am_many_lm)
importFrom(amatrix,am_ridge_fit)
importFrom(amatrix,am_wls_fit)
